---
import Layout from "@/layouts/Layout.astro";
import DevelopersPageHero from "@/components/DevelopersPageHero";
import WhatIsMove from "@/components/WhatIsMove";
import WhyMove from "@/components/WhyMove";
import MoveStarcoin from "@/components/MoveStarcoin";
import StarcoinMoveFeatures from "@/components/StarcoinMoveFeatures";
import DownloadTheSdk from "@/components/DownloadTheSdk";
import MoveInnovationWithStarcoin from "@/components/MoveInnovationWithStarcoin";
import JoinTheCommunity from "@/components/JoinTheCommunity";
import Dividers from "@/components/Dividers";

import I18n, { type LocaleCode } from "@/i18n";
const locale = I18n.pick_current_locale(Astro.currentLocale as LocaleCode);
const t = I18n.create_trans(locale);
---

<Layout>
	<DevelopersPageHero locale={locale} />
	<Dividers />
	<WhatIsMove locale={locale} />
	<Dividers />
	<WhyMove locale={locale}/>
	<Dividers />
	<MoveStarcoin locale={locale}/>
	<Dividers />
	<StarcoinMoveFeatures locale={locale}/>
	<Dividers />
	<DownloadTheSdk locale={locale}/>
	<Dividers />
	<MoveInnovationWithStarcoin locale={locale}/>
	<Dividers />
	<JoinTheCommunity locale={locale}/>
	<Fragment slot="page-meta">
		<title>{t("developers.title")} - {t("site.name")}</title>
		<meta name="description" content={t("developers.meta_description")} />
		<!-- <link rel="canonical" href={site} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={site} />
		<meta property="og:image" content={`${site}favicon.png`} /> -->
	</Fragment>
</Layout>
