---
import Layout from "@/layouts/Layout.astro";
import GetSTCPageHero from "@/components/GetSTCPageHero";
import NodeMining from "@/components/NodeMining";
import StarMaskWallet from "@/components/StarMaskWallet";
import Geeks from "@/components/Geeks";
import HardcorePlayer from "@/components/HardcorePlayer";
import OneChainDAO from "@/components/OneChainDAO";
import Dividers from "@/components/Dividers";

import I18n, { type LocaleCode } from "@/i18n";
const locale = I18n.pick_current_locale(Astro.currentLocale as LocaleCode);
const t = I18n.create_trans(locale);
---

<Layout>
	<GetSTCPageHero locale={locale} />
	<Dividers />
	<NodeMining locale={locale} />
	<Dividers />
	<StarMaskWallet locale={locale} />
	<Dividers />
	<Geeks locale={locale} />
	<Dividers />
	<HardcorePlayer locale={locale} />
	<Dividers />
	<OneChainDAO locale={locale} />

	<Fragment slot="page-meta">
		<title>{t("getstc.title")} - {t("site.name")}</title>
		<meta name="robots" content="index, follow" />
		<meta name="description" content={t("getstc.meta_description")} />
		<meta name="keywords" content={t("getstc.keywords")} />
		<meta name="twitter:card" content={t("getstc.twitter_card")} />
		<meta name="twitter:title" content={t("getstc.twitter_title")} />
		<meta name="twitter:description" content={t("getstc.twitter_description")} /> 
		<meta name="twitter:image" content={t("getstc.twitter_image")} />
		<!-- <link rel="canonical" href={site} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={site} />
		<meta property="og:image" content={`${site}favicon.png`} /> -->
	</Fragment>
</Layout>
