---
import Layout from "@/layouts/Layout.astro";
import StarScaffoldHero from "@/components/StarScaffoldHero";
import ResourceDocumentation from "@/components/ResourceDocumentation";
import WhyStarStack from "@/components/WhyStarStack";
import EasyBuilding from "@/components/EasyBuilding";
import StarstackFeatures from "@/components/StarstackFeatures";
import CustomBlockchain from "@/components/CustomBlockchain";
import NeedHelp from "@/components/NeedHelp";
import Dividers from "@/components/Dividers";

import I18n, { type LocaleCode } from "@/i18n";
const locale = I18n.pick_current_locale(Astro.currentLocale as LocaleCode);
const t = I18n.create_trans(locale);
---

<Layout>
	<StarScaffoldHero locale={locale} />
	<ResourceDocumentation locale={locale} />
	<Dividers />
	<WhyStarStack locale={locale} />
	<Dividers />
	<EasyBuilding locale={locale}/>
	<Dividers />
	<StarstackFeatures locale={locale}/>
	<Dividers />
	<CustomBlockchain locale={locale} />
	<Dividers />
	<NeedHelp locale={locale} />
	

	<Fragment slot="page-meta">
		<title>{t("starstack.title")} - {t("site.name")}</title>
		<meta name="robots" content="index, follow" />
		<meta name="description" content={t("starstack.meta_description")} />
		<meta name="keywords" content={t("starstack.keywords")} />
		<!-- <link rel="canonical" href={site} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={desc} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={site} />
		<meta property="og:image" content={`${site}favicon.png`} /> -->
	</Fragment>
</Layout>
